<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head.ejs'); %>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="/css/admin-aside.css">
        <link rel="stylesheet" href="/css/admin-category.css">
    </head>
    <body>
        <div class="grid">
            <%- include('../views/partials/admin-aside.ejs'); %>
            <article class="article">
                <h2>카테고리 관리</h2>
                <section>
                    <% categories.forEach(function(category){ %>
                    <ul class="list-category" id="listCategory">
                        <li class="list-category-li">
                            <div>
                            <input type="text" value= "<%= category.name %>" oninput="validateCategory(event)" readonly="readonly">
                            <p class="checkCategory" id="checkCategory"></p>
                            </div>
                            <div>
                                <button class="btn btn-small" id="updateCategory" data-id="<%=
                                category.id %>" onclick="updateCategory(event)"> 수정 </button>
                                <button class="btn btn-small" id="deleteCategory" data-id="<%=
                                category.id %>" onclick="deleteCategory(event)"> 삭제 </button>
                                <button class="btn btn-small addNewCategory" id="addNewCategory" data-id="<%=
                                category.id %>" onclick="addNewCategory(event)"> 수정 완료 </button>
                            </div>
                        </li>
                    </ul>
                    <% }); %>

                    <div class="add-category">
                        <div>
                        <input type="text" id="inputCategory"/>
                        <p class="checkCategory" id="checkCategory"></p>
                        </div>

                        <input type="submit" data-id="test" class="btn btn-small btn-submit" id="createCategory" value="등록"/>
                    </div>
                </section>
            </article>
        </div>
        <script>
            const $inputCategory = document.querySelector('#inputCategory');
            const $createCategory = document.querySelector('#createCategory');
            const $listCategory = document.querySelector('#listCategory');

            async function createCategory(){
                const name = $inputCategory.value;
                const categoryName = {name};
                const res = await fetch('/api/category',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                            },
                    body: JSON.stringify(categoryName),
                });
                const data = await res.json()

                $listCategory.insertAdjacentHTML(
                    `   <li class="list-category-li">
                            <div>
                            <input type="text" value=${name} oninput="validateCategory(event)" readonly="readonly">
                            <p class="checkCategory" id="checkCategory"></p>
                            </div>
                            <div>
                                <button class="btn btn-small" id="updateCategory" data-id="${data.id}" 
                                onclick="updateCategory(event)"> 수정 </button>
                                <button class="btn btn-small" id="deleteCategory" data-id="${data.id}" 
                                onclick="deleteCategory(event)"> 삭제 </button>
                                <button class="btn btn-small addNewCategory" id="addNewCategory" data-id="${data.id}" 
                                onclick="addNewCategory(event)"> 수정 완료 </button>
                            </div>
                        </li>`);
            }
            $createCategory.addEventListener('click', createCategory);

            async function deleteCategory(event){
                const id = event.target.getAttribute('data-id');
                const res = await fetch(`/api/category/${id}`,{
                    method: 'DELETE'
                });
            }

            async function updateCategory(event){
                const input = event.target.closest('.list-category-li').querySelector('input');
                input.removeAttribute('readonly');
                event.target.style.display = 'none';
                event.target.parentNode.querySelector('#deleteCategory').style.display = 'none';
                event.target.parentNode.querySelector('#addNewCategory').style.display = 'inline';
            }

            async function addNewCategory(event){
                event.target.parentNode.querySelector('#updateCategory').style.display = 'inline'
                event.target.parentNode.querySelector('#deleteCategory').style.display = 'inline';
                event.target.style.display = 'none';
                
                const id = event.target.getAttribute('data-id');
                const name = event.target.closest('.list-category-li').querySelector('input').value;
                const categoryName = {name};
                const res = await fetch(`/api/category/${id}`,{
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                            },
                    body: JSON.stringify(categoryName),
                });
            }
            
            function validateCategory(event){
                if(event.target.value.length>=10){
                    event.target.parentNode.querySelector('#checkCategory').textContent = "카테고리명을 10자 미만으로 입력해주세요.";
                }else{
                    event.target.parentNode.querySelector('#checkCategory').textContent = '';
            }}

            $inputCategory.addEventListener('input',validateCategory);

        </script>
    </body>
</html>