<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/product-detail.css" />
    </head>

    <body class="container">
        <header class="header">
            <%- include('../views/partials/header', {categoryName, categories}); %>
        </header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <section class="product-info">
                    <div class="image-box">
                        <img src="<%= product.image %>" alt="상품 썸네일" />
                    </div>
                    <div class="info-box">
                        <div class="company"><%= product.company %></div>
                        <div class="name"><%= product.name %></div>
                        <div class="price">
                            <%= product.price.toLocaleString() %><span>원</span>
                        </div>
                        <div class="bottom">
                            <div class="total">
                                총 금액 상품:
                                <span class="total-price"
                                    ><%= product.price.toLocaleString() %></span
                                ><span class="unit">원</span>
                            </div>
                            <div class="btn-box">
                                <a href="#" class="btn btn-main-line">장바구니</a>
                                <a href="#" class="btn btn-main">바로 구매</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="product-detail">
                    <h3 class="title">상품설명</h3>
                    <div class="desc-box"><%= product.description %></div>
                </section>
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
