<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link rel="stylesheet" href="/css/layout.css" />
        <link rel="stylesheet" href="/css/product-sub.css" />
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <ul class="product-list">
                    <% products.forEach(function(product) { %>
                    <li>
                        <a href="/product/detail/<%= product.id %>" class="product">
                            <div class="product-img">
                                <img src="<%= product.image %>" alt="" />
                                <button type="button" class="btn-add-cart"></button>
                            </div>
                            <div class="product-info">
                                <p class="company"><%= product.company %></p>
                                <p class="name"><%= product.name %></p>
                                <p class="price">
                                    <%= product.price.toLocaleString() %><span class="unit"
                                        >원</span
                                    >
                                </p>
                            </div>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
